body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.png");
    background-repeat:no-repeat;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    width:90%;

    
}

h1 {
    color: goldenrod;
    font-size:3rem;
    margin-top:9em;
}

#message-el {
    font-style: italic;
    
    
}

button {
    color: #016f32;
    width: 150px;
    display:inline-block;
    background: goldenrod;
    padding:1em 2em;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 1em;
    margin-top: 0.125em;
    
}
@media (max-width:600px){
}

